.navbar{
  background-color: #343a40;
}

.register{
  transition: transform.2s;
}

.register:hover{
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.nav-link:hover{
  cursor: pointer;
}

.registers{
  width: 70%;
}

.search-section{
  width: 40%;
  margin: 0 auto;
}

.student-data{
  width: 70%;
  margin: 0 auto;
}

@media (width < 450px) {

  .registers{
    width: 100%;
  }

  .search-section{
    width: 100%;
    margin: 0 auto;
  }

}